<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="Custom Bootstrapper" Version="1.0.0.0" Manufacturer="SIL" UpgradeCode="25512CD4-A255-4A0C-9AE8-09365F5295B9">
		<BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost" />

		<Variable Name="MinMinorVersion" Value="38" />

		<WixVariable Id="WixMbaPrereqLicenseUrl" Value="../../LICENSE" />
		<WixVariable Id="WixMbaPrereqPackageId" Value="InstallVcRedistBootstrapper" />
		<WixVariable Id="VcRedistInstallerPath" Value="" />
		
		<Chain>
			<!-- Download and install the latest VC++ Redistributable -->
			<ExePackage Id="VC_Redist"
						SourceFile="!(wix.VcRedistInstallerPath)"
						Compressed="no"
						InstallCommand="/install /quiet /norestart"
						Permanent="yes"
						DetectCondition="!(wix.VcRedistInstallerPath) &lt;&gt; ''"/>
		</Chain>
	</Bundle>
</Wix>
